/*
 * author: zero
 * createdTime: 2018/01/18
 * */
@import "./common";

.modifyPassword {
  transform: translate(0,0);  // message 定位需要

  .errMsg {
    margin-top: -16px;
    white-space: normal;
  }
}
