ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container {
  white-space: nowrap;
  background-color: transparent;
  display: flex;
  align-items: flex-start;
  &:after {
    display: block;
    clear: both;
    content: "";
  }
}
.absolute {
  position: absolute;
  background-color: #FFFFFF;
  left: 100%;
  top: 0;
}
.absoluteChild {
  position: absolute;
  background-color: #FFFFFF;
  left: 100%;
  top: 0;
  // top: 50%;
  // transform: translateY(-50%);
}
.list {
  border-radius: 4px;
  box-shadow: 0 1px 6px rgba(0,0,0,.2);
  line-height: 32px;
  max-width: 200px;
  display: inline-block;
  max-height: 200px;
  overflow-y: auto;;
  margin: 0;
  float: left;
  z-index: 1;
  background: #fff;
}
.iconRight {
  position: absolute;
  right: 10px;
  font-size: 12px;
  line-height: 32px;
  color: rgba(0,0,0,.43);
}
.listItem {
  padding: 0 32px 0 32px;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.selectIcon {
  &:before {
    content: "";
    position: absolute;
    font-size: 12px;
    color: #02a3ff;
    display: inline-block;
    border: 1px solid #b5b0af;
    text-shadow: 0 0.1px 0, 0.1px 0 0, 0 -0.1px 0, -0.1px 0;
    transition: all .2s ease;
    left: 8px;
    height: 16px;
    width: 16px;
    transform: translateY(-50%);
    top: 50%;
    line-height: 16px;
    border-radius: 50%;
  }
}
.next {
  &:after {
    font-family: anticon;
    position: absolute;
    content: "\E61F";
    right: 8px;
    color: rgba(0,0,0,.43);
    display: inline-block;
    font-size: 12px;
    font-size: 10px\9;
    transform: scale(.83333333) rotate(0deg);
    zoom: 1;
  }
}
.active {
  background-color: #d5f0ff;
}
.select {
  &:before {
    font-family: anticon;
    content: "\E632";
    color: #02a3ff;
    font-size: 12px;
    position: absolute;
    display: inline-block;
    border: 1px solid #b5b0af;
    text-shadow: 0 0.1px 0, 0.1px 0 0, 0 -0.1px 0, -0.1px 0;
    transition: all .2s ease;
    left: 8px;
    height: 16px;
    transform: translateY(-50%);
    top: 50%;
    line-height: 16px;
    font-weight: 200;
    text-rendering: optimizeLegibility;
    border-radius: 50%;
  }
}
.selectHalf {
  &:before {
    font-family: anticon;
    content: "\E624";
    color: #02a3ff;
    font-size: 12px;
    position: absolute;
    display: inline-block;
    border: 1px solid #b5b0af;
    text-shadow: 0 0.1px 0, 0.1px 0 0, 0 -0.1px 0, -0.1px 0;
    transition: all .2s ease;
    left: 8px;
    height: 16px;
    transform: translateY(-50%);
    top: 50%;
    line-height: 16px;
    font-weight: 200;
    text-rendering: optimizeLegibility;
    border-radius: 50%;
  }
}
.loading {
  text-align: center;
  padding: 15px;
}
.noContent {
  padding: 0 15px;
  user-select: none;
  font-size: 14px;
  text-align: center;
  color: rgba(0, 0, 0, 0.25);
  cursor: not-allowed;
}
.disableCheckbox {
  cursor: not-allowed;
  &:before {
    border-color: #d9d9d9;
    color: rgba(0,0,0,.25);
  }
}
